global
  daemon
  maxconn 4096

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend libsql-primary
  bind *:8443 ssl crt /tls/server.pem
  default_backend sqld-primary-backend

backend sqld-primary-backend
  server sqld-primary sqld-primary:8080 check inter 5s rise 2 fall 3

frontend libsql-replica
  bind *:8444 ssl crt /tls/replica.pem
  default_backend sqld-replica-backend

backend sqld-replica-backend
  server sqld-replica sqld-replica:8080 check inter 5s rise 2 fall 3
