global
  daemon
  maxconn 4096

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend redis-primary
  bind *:6379 ssl crt /ssl/server.pem ca-ignore-err all
  default_backend redis-primary-backend

backend redis-primary-backend
  server dragonfly-primary dragonfly-primary:6379 check inter 5s rise 2 fall 3

frontend redis-replica
  bind *:6380 ssl crt /ssl/replica.pem ca-ignore-err all
  default_backend redis-replica-backend

backend redis-replica-backend
  server dragonfly-replica dragonfly-replica:6380 check inter 5s rise 2 fall 3
